form{
    margin-left: 40%;
}


.h2{
    font-family: cursive;
    text-align: center;
    font-size: 30px;
}

.a1{
    background-color: #04aab3;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    font-style: bold;
    border-radius: 5px;
    position: relative;
}

.div1{
    text-align: center;   
    padding-top: 40px; 
    position: relative; 
}

.div2{ 
    padding-top: 40px; 
    position: relative; 
}