.menu {
    display: flex;
}

.filter {
    text-align: center;
    font-family: arial, sans-serif;
    background-color: #bbb;
    flex: 10%;
    padding: 15px 0;
}

.filter h2 {
    padding-left: 8px;
}

#mySearch {
    width: 70%;
    font-size: 15px;
    padding: 8px;
    border: 1px solid #ddd;
}

#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
}

#myMenu li a:hover {
    background-color: #eee;
}

.cuisine {
    flex: 65%;
    padding: 15px;
    background-color: #ddd;
    font-family: arial, sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 8px;
    border: 1px solid #dddddd;
    width: 20%;
    height: 50px;
}

.restaurant {
    font-family: arial, sans-serif;
    text-align: center;
    background-color: #dddddd;
    border: 1px solid #dddddd;
    width: 100%;
    height: 200px;
}


.category-container {
    font-family: arial, sans-serif;
    background-color: #333;
    width: 100%;
    height: 10 px;
    text-decoration: none;
    overflow: hidden;
}

.category-container a {
    display: block;
    font-size: 18px;
    color: white;
    padding: 14px 16px;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.category-container a:hover:not(.active) {
    background-color: #111;
}

.ordering {
    font-family: arial, sans-serif;
    text-align: center;
    background-color: #dddddd;
    border: 1px solid #dddddd;
    width: 100%;
    height: 200px;
}

.orderlist {
    text-align: center;
    padding: 8px;
    width: 100%;
    margin: auto;
}

.orderlist th,
td {
    text-align: center;
    padding: 8px;
    border: 1px solid #dddddd;
    width: 5%;
    height: 50px;
}

.payment {
    font-family: arial, sans-serif;
    text-align: center;
    background-color: #dddddd;
    width: 100%;
    height: 200px;
}

.pay {
    font-family: arial, sans-serif;
    padding: 8px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.pay th {
    text-align: center;
    background-color: #8fcbff;
    padding: 8px;
    width: 10%;
    height: 50px;
}

.pay td {
    text-align: left;
    padding: 8px;
    width: 10%;
    height: 50px;
}

.custom-select {
    position: relative;
    font-family: Arial;
    text-align: center;
    width: 40 px;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: DodgerBlue;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 5;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;   
}

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.tracking {
    font-family: arial, sans-serif;
    text-align: center;
    background-color: #dddddd;
    border: 1px solid #dddddd;
    width: 100%;
    height: 200px;
}

.track {
    text-align: center;
    padding: 8px;
    width: 50%;
    margin: auto;

}

.track th {
    text-align: left;
    padding: 8px;
    border: 1px solid #dddddd;
    width: 2%;
    height: 50px;
}

.exp {
    font-family: arial, sans-serif;
    text-align: center;
    background-color: #dddddd;
    border: 1px solid #dddddd;
    width: 100%;
    height: 200px;
}

.expenses {
    text-align: left;
    padding: 8px;
    width: 50%;
    margin: auto;

}

.expenses th {
    text-align: left;
    padding: 8px;
    border: 1px solid #dddddd;
    width: 2%;
    height: 50px;
}

.piechart{
    text-align: center;
}

.button {
    background-color: #0096FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.editbutton {
    background-color: #FFC000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.deletebutton {
    background-color: #DC143C;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.checkbutton {
    background-color: #4169E1;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.savebutton {
    background-color: #FFC000;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.cancelbutton {
    background-color: #DC143C;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.confirmbutton {
    background-color: #28B463;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.backbutton {
    background-color: #4169E1;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}