h1 {
    text-align: center;
}

.delivery_notes {
    width: 100%;
    border-collapse:separate;
    border-spacing:0 30px;
}

.delivery_notes td {
    text-align: left;
    text-align: middle;
    padding: 8px;
    background-color: rgba(255, 238, 227, .93);
  }

.delivery_notes tr {
    border-radius: 10px;
}

.delivery_notes tr td:first-of-type {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
  
.delivery_notes tr td:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rider_profile th{
  text-align: left;
  width: 20%;
  
}

.rider_profile {
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

.rider_input {
  width:90%;
  height:30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .select {
    position: relative;
    min-width: 300px;
    cursor: pointer;
    width: 100%;
  }


  .two_button {
    margin-left: 450px;
}
  .btn_edit, .btn_delete, .btn_add, .btn_publish, .btn_cancel, .btn_update{
    width: 10%;
    height: 50px;
    margin-top: 50px;
    margin-right: 120px;
    margin-left: 120px;
    display: inline;
    text-align: center;
}

/*rider_delivery_notes_details.html*/
.orderDetail{
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

.orderDetail th, td{
  text-align: left;
}

.three_button{
  margin-left: 200px;
}

.button1 {
  background-color: #04aab3;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  font-style: bold;
  border-radius: 5px;
  position: relative;
  width: 6%;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  border: none;
}

.div1 {
  text-align: center;
  position: relative;
}